.container {
	background-color:gray;
}
.block{
	display:inline-block;
	background-color:#F6F6F6;
	text-align:center;
	padding:30px;
	border-color: black;
	border-radius: 15px;
	box-shadow:3px 3px 15px black;
}
.login { 
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
label {
	font-weight:bold;
}
input {
	display: block;
	margin: 22px 0;
	width: 100%;
	font-family: sans-serif;
	font-size: 15px;
	box-shadow: 3px 3px 5px gray;
	border-radius: 20px;

}

#username, #pass, button {
	margin:5px 0;
}

h1 {
	margin:10px;
	font:serif;
}

.button {
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ff9900;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.button:active {
	position:relative;
	top:1px;
}

body {
	background-color:lightblue;
}

.failed { 
	background-color:gold;
	color:red;
	padding:30px 0;
	text-align:center;
	display:none;
}